<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/mui.min.css">
    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/phone.js"></script>
    <title>Document</title>
    <style>
        .right-word{
            position: fixed;
            top: 110px;
            right: 10px;
            z-index: 99;
            width: 20px;
        }
        /*.yuan{*/
            /*display: block;*/
            /*width: 20px;*/
            /*height: 20px;*/
            /*background: red;*/
            /*color: #fff;*/
            /*text-align: center;*/
            /*line-height: 20px;*/
            /*border-radius: 50%;*/
        /*}*/
    </style>
</head>
<body ng-app="myapp">
<div ng-controller="phone">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">通讯录</h1>
    </header>
        <div class="mui-input-row mui-search" style="margin-top: 44px">
            <input type="search" class="mui-input-clear" placeholder="" data-input-clear="15" data-input-search="15" ng-model="search"><span class="mui-icon mui-icon-clear mui-hidden"></span><span class="mui-placeholder"><span class="mui-icon mui-icon-search"></span><span></span></span>
        </div>

    <ul class="mui-table-view">
        <div ng-show="type!==''" ng-click="show()" style="margin-left: 15px">显示全部</div>
        <li class="mui-table-view-cell" ng-repeat="item in data track by $index">
            <a class="yuan">
                {{item.en}}
            </a>
            <a ng-repeat="item1 in item |filter:{en:type} |filter:{en:search} track by $index" href="tel:">
                <span>{{item1.name}}</span>
                <span>{{item1.phone}}</span>
            </a>
        </li>
    </ul>
    <div class="right-word">
        <div ng-repeat="item in data" style="margin-top: 10px" ng-click="filter(item.en)">
            {{item.en}}
        </div>
    </div>
</div>
</body>
<script>
var search=document.querySelector(".mui-placeholder");
var input=document.querySelector(".mui-input-clear");
    search.onclick=function(){
        search.style.width="30px";
        input.focus();
    };
    input.onblur=function(){
        search.style.width="100%";
        input.value="";
    }
</script>
</html>